{%extends 'base.html'%}
{%load static%}
{%block body_block%}
        <div class="container list ">
            <!-- ======= post add start ======= -->
            <!-- <form action="" method="post" enctype="multipart/form-data">
                <div class="container rounded-pill post p-2 mt-3 d-flex justify-content-evenly">
                    {%csrf_token%}
                    <div class="">
                      {%if request.user.profile.profile_pic%}
                        <img class="profile-small" src="{{request.user.profile.profile_pic.url}}" alt="Avatar" style="height: 30px;">
                      {%else%}
                        <img class="profile-small" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                      {%endif%}
                    </div>
                    <div class="">
                        <input class="load" name="post_image" type="file" id="file" accept="image/*">
                        <label class="upload d-flex justify-content-center align-items-center" style="width: 60px;" for="file"><img src="{%static 'socialapp/images/upload.png'%}" style="width: 30px;" alt=""></label>
                    </div>
                    <div class="">
                        <input class="form-control rounded-pill" type="text" name="title" id="" placeholder="captions...">
                    </div>
                    <div class="">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </div>
            </form> -->
            <!-- ======== post add end ====== -->

            <!-- -- modal -- -->
                <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-plus border border-3 p-2"></i>
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Post Your Story</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                       <form action="{%url 'storie-create'%}" method="post" enctype="multipart/form-data">
            
                        {%csrf_token%}
            
                        <div class="modal-body">
                            
                            <div class="mb-3">
                                <label for="">title</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="mb-3">
                                <input type="file" class="form-control" name="post_image" accept="image/*">
                            </div>
            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                          </div>
            
                       </form>
                      </div>
                    </div>
                  </div>        
            <!-- -- -- modal -- -- -->
            <div class="d-flex container w-50 ">
                {%for st in stories%}
                <article>
                    {%if st.post_image%}
                    <div class="d-flex flex-column justify-content-center text-center me-1">
                        <img src="{{st.post_image.url}}" alt="" class="border rounded-circle bg-dark text-white text-center " style="height: 100px;width: 100px;">
                        {{st.user}}
                    </div>
                    {%else%}
                    <div class="d-flex flex-column justify-content-center text-center">
                        <img src="{{st.user.profile.profile_pic.url}}" alt="" class="border rounded-circle bg-dark text-white text-center " style="height: 100px;width: 100px;">
                        {{st.user}}
                    </div>      
                    {%endif%}

                </article>
                {%endfor%}
            </div>

            {%if form.errors%}
                {{form.errors}}
            {%endif%}

            {%for post in data%}
            <div class="container mb-5">
                <!-- post section start -->
                <div class="border border-1 bg-secondary bg-opacity-10 rounded-4 mt-4 w-50">
                    <div class="ms-2 mt-2 mb-2">
                      {%if post.user.profile.profile_pic%}
                        <img class="profile-small" src="{{post.user.profile.profile_pic.url}}" alt="Avatar" height="35px">
                      {%else%}
                        <img class="profile-small" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                      {%endif%}

                        {{post.user}} <small class="text-body-secondary">{{post.created_date}}</small>
                    </div>
                    <div>
                        {%if post.post_image%}
                            <img src="{{post.post_image.url}}" class="h-auto w-100" alt=""> 
                        {%endif%}

                    </div>
                    <div class="p-2 ms-2">
                        {{post.title}}
                    </div>
                    <div class="ms-2 mt-2 mb-2 d-flex align-items-start">
                        <form action="{%url 'like' post.id%}" method="post" class="d-flex">
                            {%csrf_token%}
                            {%if request.user in post.liked_by.all%}
                                <div class="d-block flex-column">
                                    <div>
                                        <button type="submit" name="action" value="dislike" class="btn"><i class="fa-solid fa-heart fs-4 text-danger btn"></i></button>
                                    </div>
                                    <div>
                                        <span class="ms-3 spa">{{post.liked_by.all.count}} Likes</span>
                                    </div>
                                </div>
                            {%else%}
                                <div class="d-block flex-column">
                                    <div>
                                        <button type="submit" name="action" value="like" class="btn"><i class="fa-regular fa-heart fs-4 text-dark btn"></i></button>
                                    </div>
                                    <div>
                                        <span class="ms-3 spa">{{post.liked_by.all.count}} Likes</span>
                                    </div>
                                </div>
                            {%endif%}
                        </form>
                            
                    </div>
                    <hr class="ms-3 me-3">
                        <div>
                            <span class="ms-3 spa">{{post.post_comments.all.count}} comment</span>
                        </div>
                        <div class="d-flex align-items-center p-3 ">
                            <div>
                                {%if request.user.profile.profile_pic%}
                                    <img class="profile-xsmall" src="{{request.user.profile.profile_pic.url}}" alt="Avatar" style="height: 26px;">
                                {%else%}
                                    <img class="profile-xsmall" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                                {%endif%}
                            </div>
                            <form action="{%url 'comment' post.id%}" method="post">
                                {%csrf_token%}
                                <div class="d-flex">
                                    <input type="text" class="form-control ms-3 me-3" name="text" id="" placeholder="Comment ..........">
                                    <button type="submit" class="btn btn-secondary"><i class="fa-solid fa-location-arrow"></i></button>
                                </div>
                                    
                            </form>
                        </div>
                        {%for c in post.post_comments.all%}
                        <div class="mb-4">
                                <div class="d-flex align-items-center ps-3 pe-3 mb-2 bg-light rounded-pill w-100">
                                    {%if c.user.profile.profile_pic%}
                                        <img class="profile-xsmall me-3" src="{{c.user.profile.profile_pic.url}}" alt="Avatar" style="height: 25px;">
                                    {%else%}
                                        <img class="profile-xsmall me-3" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                                    {%endif%}
                                    {{c.user}}
                                    <div class="ms-2 comment form-control rounded-end-0 border-0">
                                        <input type="text" name="" value="{{c.text}}" disabled id="" placeholder="Message .........." class="border-0 w-100">
                                    </div>
                                </div>
                        </div>
                        {%endfor%}

                        
                </div>
                <!-- post section end -->
            </div>
            {%endfor%}
        </div>
{%endblock%}