{%extends 'base.html'%}
{%load static%}
{%block body_block%}
        <div class="container list ">
            <!-- ======= post add start ======= -->
            <form action="" method="post" enctype="multipart/form-data">
                <div class="container rounded-pill post p-2 mt-3 d-flex justify-content-evenly">
                    {%csrf_token%}
                    <div class="">
                        <img class="profile-small ms-3 me-3" src="{%static 'socialapp/images/profilepic.png'%}" alt="">
                    </div>
                    <div class="">
                        <input class="load" name="post_image" type="file" id="file" accept="image/*">
                        <label class="upload d-flex justify-content-center align-items-center" style="width: 60px;" for="file"><img src="{%static 'socialapp/images/upload.png'%}" style="width: 30px;" alt=""></label>
                    </div>
                    <div class="">
                        <input class="form-control rounded-pill" type="text" name="title" id="" placeholder="captions...">
                    </div>
                    <div class="">
                        <button class="btn btn-primary" type="submit">Post</button>
                    </div>
                </div>
            </form>
            <!-- ======== post add end ====== -->



            <div class="container mb-5">
                <!-- post section start -->
                <div class="border border-1 bg-secondary bg-opacity-10 rounded-4 mt-4 w-50">
                    <div class="ms-2 mt-2 mb-2">
                        <img class="profile-small" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                        username <small class="text-body-secondary">3 mins ago</small>
                    </div>
                    <div>
                        <img src="{%static 'socialapp/images/sample.jpg'%}" class="h-auto w-100" alt="">
                    </div>
                    <div class="ms-2 mt-2 mb-2 d-flex align-items-start">
                        <div class="d-block flex-column">
                            <div>
                                <i class="fa-solid fa-heart fs-4 text-danger btn"></i>
                            </div>
                            <div>
                                <span class="ms-2 spa">Like</span>
                            </div>
                        </div>
                        <div class="d-block flex-column">
                            <div>
                                <i class="fa-solid fa-heart-crack fs-4 text-danger btn"></i>
                            </div>
                            <div>
                                <span class="ms-2 spa">Dislike</span>
                            </div>
                        </div>
                        <div class="d-block flex-column">
                            <div>
                                <i class="fa-solid fa-comment-dots fs-4 text-secondary btn"></i>
                            </div>
                            <div>
                                <span class="ms-2 spa">comment</span>
                            </div>
                        </div>
                    </div>
                    <hr class="ms-3 me-3">
                    <div class="p-2 ms-2">
                    </div>
                        <div class="d-flex align-items-center mb-4 p-3">
                            <div>
                                <img class="profile-xsmall" src="{%static 'socialapp/images/profilepic.png'%}" alt="">
                            </div>
                            <div class="ms-2 me-3 w-100">
                                <input type="text" class="form-control" name="" id="" placeholder="Comment .........." class="border-0 w-100">
                            </div>
                            <div>
                                <button class="btn btn-secondary"><i class="fa-solid fa-location-arrow"></i>
                                </button>
                            </div>
                        </div>
                </div>
                <!-- post section end -->
            </div>
        </div>
{%endblock%}