<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{%static 'socialapp/css/profile.css'%}">
</head>
<body>
    <nav class="navbar fixed-top  p-0" style="	background: #FF416C;
        background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
        background: linear-gradient(to right, #FF4B2B, #FF416C);" >
     <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'index'%}">
        <img src="{%static 'socialapp/images/linkspherena.png'%}" alt="Logo" width="100" height="h-a" class="ms-5">
      </a>

      <!-- search start -->
        <div class="container mt-3 w-50 mb-2">
            <div class="row justify-content-center">
            <div class="col-lg-6">
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger rounded-start-0" type="submit">Search</button>
                </form>
            </div>
            </div>
        </div>
    <!-- search end -->
        <a href="{%url 'index'%}"><i class="fa-solid fa-house fs-4 text-white me-5 opacity-75"></i></a>
        <a href=""><i class="fa-regular fa-square-plus fs-3 me-5 text-white opacity-75"></i></a>

    <!-- profile dropdown start -->

      <div class="btn-group me-5">
        <a href="#" class="btn-img img dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="profile-small rounded-circle bg-secondary" src="{%static 'socialapp/images/profilepic.png'%}" style="height: 40px;" alt="Avatar">
        </a>
        <div class="dropdown-menu">
        <a class="dropdown-item d-flex align-items-center" href="{%url 'profile-details' request.user.profile.id%}">
            <div class="icon d-flex align-items-center justify-content-center mr-3">
                <span class="ion-ios-mail"></span>
            </div>
            Profile
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
            <div class="icon d-flex align-items-center justify-content-center mr-3">
                <span class="ion-ios-heart"></span>
            </div>
            All posts
        </a>
        {%if request.user.profile%}
            <a class="dropdown-item d-flex align-items-center" href="{%url 'profile-update' request.user.profile.id%}">
                <div class="icon d-flex align-items-center justify-content-center mr-3">
                    <span class="ion-ios-person-add"></span>
                </div>
                Edit Profile
            </a>
        {%endif%}
        <a class="dropdown-item d-flex align-items-center" href="{%url 'signout'%}">
            <div class="icon d-flex align-items-center justify-content-center mr-3">
                <span class="ion-ios-power"></span>
            </div>
            Logout
        </a>
        </div>
    </div>

        <!-- profile dropdown end -->


</nav>
<!-- nav ends -->
    <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3 class="dark-color">{{data}}</h3>
                        {%if data.user == request.user%}
                            <a class="btn btn-outline-dark" href="{%url 'profile-update' request.user.profile.id%}">Edit profile</a>
                        {%endif%}
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Birthday</label>
                                    <p>{{data.dob}}</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>{{data.phone}}</p>
                                </div>
                                <div class="media">
                                    <label>Address</label>
                                    <p>{{data.address}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Bio</label>
                                    <p>{{data.bio}}</p>
                                </div>
                                <div class="mt-2">
                                    <button class="btn btn-success me-2">Follow</button>
                                    <button class="btn btn-primary">Unfollow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-avatar">
                      {%if data.profile_pic%}
                        <img src="{{data.profile_pic.url}}" title="" alt="">
                      {%else%}
                        <img src="{%static 'socialapp/images/profilepic.png'%}" title="" alt="">
                      {%endif%}
                    </div>
                </div>
            </div>
            <div class="counter">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="500" data-speed="500">{{data.following.count}}</h6>
                            <p class="m-0px font-w-600">Following</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="150" data-speed="150">{{data.followed_by.count}}</h6>
                            <p class="m-0px font-w-600">Follower</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="850" data-speed="850">{{data.block.count}}</h6>
                            <p class="m-0px font-w-600">Blocked</p>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="190" data-speed="190">{{data.user.userpost.all.count}}</h6>
                            <p class="m-0px font-w-600">Posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>